// BASE/MAIN STYLES GO IN HERE

// To-do - rename this sass file?


$primaryColor: #ecf0f1;
$secondaryColor: #362f36;

// change secondary color based on background

html {
    font-size: 62.5%;
}

// remove default margin and padding for h1, ul, li 

h1, ul, li, body, button, ol, p {
    margin: 0;
    padding: 0;
    border: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.wrapper {

    @include mq-mobile {
        width: 90%;
        margin: 0 auto;
    }


    @include mq-desktop {
        max-width: 1080px;
        width: 80%;
        margin: 0 auto;
    }
}

body {
    font-family: 'Oswald', sans-serif;
    color: $primaryColor;
    font-size: 2rem;
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #4c5b5c, #230c33, #4f000b, #221d23);
    background-size: 400% 400%;
    animation: backgroundGradient 10s ease infinite;
}

@keyframes backgroundGradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

header {

    h1 {
        @include mq-mobile {
            padding: 30px 0;

            img {
                display: none;
            }
        }

        @include mq-tablet {

            .secondTomato {
                transform: translateX(25%) translateY(15%);
            }

            img {
                display: inline-block;
                transform: translateX(-25%) translateY(15%);
            }
        }
    }
}

audio {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}





.buttonContainer {

    display: flex;
    justify-content: center;

    button{
        text-transform: uppercase;
        padding: 7px 12px;
        border-radius: 15px;
        background: inherit;
        color: $primaryColor;
        border: 2px solid $primaryColor;
        cursor: pointer;
        font-size: 2rem;
        margin: 20px 15px;
        // margin-top: 50px;
        

        &:hover, &:focus {
            background: $primaryColor;
            color: $secondaryColor;
        }
    }
}

input {
    @include mq-mobile {
        background-color: inherit;
        border: none;
        color: $primaryColor;
        font-size: 2rem;
        border-bottom: 1px $primaryColor solid;
        margin-top: 20px;
        width: 70%;

        &::placeholder {
            color: $primaryColor;
            text-align: center;
        }
    }

    @include mq-tablet {
        width: 50%;
        &::placeholder {
            text-align: left;
        }
    }


}

details {

    @include mq-mobile {
        text-align: center;
        border: 2px solid $primaryColor;
        padding: 5%;

        .fa-sort-down {
            display: none;
        }

        .fa-sort-down, .fa-caret-right {
            padding-right: 10px;
        }

        &[open] {
            .fa-caret-right {
                display: none;
            }

            .fa-sort-down {
                display: inline-block;
            }
        }

    @include mq-tablet {
        text-align: left;
        padding: 2% 5%;
        
        }
    }
}



header, body {
    text-align: center;
}



footer {
    
    margin-top: 100px;

    .footerContainer {
        background: black;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

