// BASE STYLES GO IN HERE


$primaryColor: #ecf0f1;
$secondaryColor: #362f36;

html {
    font-size: 62.5%;
}

body {
    font-family: 'Oswald', sans-serif;
    background: $secondaryColor;
    color: $primaryColor;
    font-size: 2rem;
}



// remove default margin and padding for h1, ul, li 


h1, ul, li, body, button {
    margin: 0;
    padding: 0;
    border: none;
}

.buttonContainer {
    button{
        text-transform: uppercase;
        padding: 7px 12px;
        border-radius: 15px;
        background: #362f36;
        color: #ecf0f1;
        border: 2px solid #ecf0f1;
        cursor: pointer;
        font-size: 2rem;
    }
}

input {
    background-color: $secondaryColor;
    border: none;
    color: $primaryColor;
    font-size: 2rem;


    &::placeholder {
        color: $primaryColor;
    }
}



.wrapper {
    max-width: 1080px;
    width: 80%;
    margin: 0 auto;
}

header, body {
    text-align: center;
}

ul {
    list-style: none;
}