.timerSettings {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px 0;
    font-size: 3rem;
    flex-wrap: wrap;
    @include mq-tablet {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .workButtons {
        display: flex;

        button {
            margin: 0 10px;
        }
    }

    .timerDisplay {
            font-size: 4rem;

        @include mq-tablet {
            font-size: 5rem;
        }

        @include mq-desktop {
            font-size: 6rem;
        }
    }

    .pomoTimers {
        margin: 20px 0;
    }
    
    button {
        text-transform: uppercase;
        padding: 0 15px;
        border-radius: 20px;
        background: inherit;
        color: $primaryColor;
        border: 2px solid $primaryColor;
        cursor: pointer;
        font-size: 2.5rem;

        &:hover, &:focus {
            background-color: $primaryColor;
            color: $secondaryColor;
        }

        &.pomoButtonStart {
            background-color: green;
            margin-right: 10px;

            &:hover, &:focus {
                background-color: lighten(green, 70%);
                color: darken($primaryColor, 70%);
                border: 2px solid darken($primaryColor, 70%);
            }
        }

        &.pomoButtonReset {
            background-color: red;
            margin-left: 10px;

            &:hover, &:focus {
                background-color: lighten(red, 70%);
                color: darken(red, 70%);
                border: 2px solid darken(red, 70%);
            }
        }
    }

    span {
        font-size: 3rem;
    }
    
    .min {
        font-family: 'Rajdhani', sans-serif;
    }
}