article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

h1, ul, li, body, button, ol, p {
  margin: 0;
  padding: 0;
  border: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

@media (min-width: 320px) {
  .wrapper {
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 1080px) {
  .wrapper {
    max-width: 1080px;
    width: 80%;
    margin: 0 auto;
  }
}

body {
  font-family: 'Oswald', sans-serif;
  color: #ecf0f1;
  font-size: 2rem;
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #4c5b5c, #230c33, #4f000b, #221d23);
  background-size: 400% 400%;
  -webkit-animation: backgroundGradient 10s ease infinite;
          animation: backgroundGradient 10s ease infinite;
}

@-webkit-keyframes backgroundGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes backgroundGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (min-width: 320px) {
  header h1 {
    padding: 30px 0;
  }
  header h1 img {
    display: none;
  }
}

@media (min-width: 768px) {
  header h1 .secondTomato {
    -webkit-transform: translateX(25%) translateY(15%);
            transform: translateX(25%) translateY(15%);
  }
  header h1 img {
    display: inline-block;
    -webkit-transform: translateX(-25%) translateY(15%);
            transform: translateX(-25%) translateY(15%);
  }
}

audio {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttonContainer button {
  text-transform: uppercase;
  padding: 7px 12px;
  border-radius: 15px;
  background: inherit;
  color: #ecf0f1;
  border: 2px solid #ecf0f1;
  cursor: pointer;
  font-size: 2rem;
  margin: 20px 15px;
}

.buttonContainer button:hover, .buttonContainer button:focus {
  background: #ecf0f1;
  color: #362f36;
}

@media (min-width: 320px) {
  input {
    background-color: inherit;
    border: none;
    color: #ecf0f1;
    font-size: 2rem;
    border-bottom: 1px #ecf0f1 solid;
    margin-top: 20px;
    width: 70%;
  }
  input::-webkit-input-placeholder {
    color: #ecf0f1;
    text-align: center;
  }
  input:-ms-input-placeholder {
    color: #ecf0f1;
    text-align: center;
  }
  input::-ms-input-placeholder {
    color: #ecf0f1;
    text-align: center;
  }
  input::placeholder {
    color: #ecf0f1;
    text-align: center;
  }
}

@media (min-width: 768px) {
  input {
    width: 50%;
  }
  input::-webkit-input-placeholder {
    text-align: left;
  }
  input:-ms-input-placeholder {
    text-align: left;
  }
  input::-ms-input-placeholder {
    text-align: left;
  }
  input::placeholder {
    text-align: left;
  }
}

@media (min-width: 320px) {
  details {
    text-align: center;
    border: 2px solid #ecf0f1;
    padding: 5%;
  }
  details .fa-sort-down {
    display: none;
  }
  details .fa-sort-down, details .fa-caret-right {
    padding-right: 10px;
  }
  details[open] .fa-caret-right {
    display: none;
  }
  details[open] .fa-sort-down {
    display: inline-block;
  }
}

@media (min-width: 320px) and (min-width: 768px) {
  details {
    text-align: left;
    padding: 2% 5%;
  }
}

header, body {
  text-align: center;
}

footer {
  margin-top: 100px;
}

footer .footerContainer {
  background: black;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.timerSettings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0;
  font-size: 3rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.timerSettings .workButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.timerSettings .workButtons button {
  margin: 0 10px;
}

@media (min-width: 320px) {
  .timerSettings .timerDisplay {
    font-size: 3rem;
  }
}

@media (min-width: 768px) {
  .timerSettings .timerDisplay {
    font-size: 5rem;
  }
}

@media (min-width: 1080px) {
  .timerSettings .timerDisplay {
    font-size: 6rem;
  }
}

.timerSettings .pomoTimers {
  margin: 20px;
}

.timerSettings button {
  text-transform: uppercase;
  padding: 0 15px;
  border-radius: 20px;
  background: inherit;
  color: #ecf0f1;
  border: 2px solid #ecf0f1;
  cursor: pointer;
  font-size: 2.5rem;
}

.timerSettings button:hover, .timerSettings button:focus {
  background-color: #ecf0f1;
  color: #362f36;
}

.timerSettings button.pomoButtonStart {
  background-color: green;
}

.timerSettings button.pomoButtonStart:hover, .timerSettings button.pomoButtonStart:focus {
  background-color: #e6ffe6;
  color: #334145;
  border: 2px solid #334145;
}

.timerSettings button.pomoButtonReset {
  background-color: red;
}

.timerSettings button.pomoButtonReset:hover, .timerSettings button.pomoButtonReset:focus {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.timerSettings span {
  font-size: 3rem;
}

.timerSettings .min {
  font-family: 'Rajdhani', sans-serif;
}
